
.baro-story-faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 8px solid #222222; 
    padding: 55px 0px;
}
.baro-story-faq h1 {
    margin-bottom: 50px;
}
.baro-story-faq .faq-qustion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 75px; 
    font-weight: 400;
    border: none;
    padding: 7px 20px;
    margin: 5px;
    background-color: #303030;
    color: white;
    line-height: normal;
    font-size: 1.625rem;
    font-weight: 400;
    text-align: left;
}
.baro-story-faq .faq-qustion i {
    padding-left: 10px;
}
.faq-answer {
    display: flex;
    justify-content: flex-start; 
    margin: 5px;
    width: 70%;
    align-items: center;
    background-color: #303030;
    color: white;
    line-height: normal;
    font-size: 1.625rem;
}

.hidden {
    display:none;
}  
.open span{
    padding: 7px 20px;
} 
@media only screen and (max-width:949px) and (min-width: 550px){
    .baro-story-faq .faq-qustion {
        height: 60px;
        font-size: 23px;
    }
    .faq-answer { 
        font-size: 23px;  
    }
}
@media only screen and (max-width:550px) and (min-width: 375px){
    .baro-story-faq .faq-qustion {
        height: 50px;
        padding: 5px 13px;
    }
    .faq-answer { 
        font-size: 18px;  
    }
    .open span{
        padding: 5px 13px;
    } 
} 
@media only screen and (max-width:375px) and (min-width: 0px){
    .baro-story-faq .faq-qustion {
        height: 40px;
        padding: 5px 13px;
    }
    .faq-answer { 
        font-size: 15px;  
    }
    .open span{
        padding: 5px 13px;
    } 
} 