
.baro-story-cards-feature {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-bottom: 8px solid #222222;
    padding: 75px 0px;
    flex-wrap: wrap; 
}
.baro-story-cards-feature span {
    color: var(--yellow);
}
.baro-story-cards-feature__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
.baro-story-cards-feature__top--title {
    display: flex; 
    justify-content: center;
    align-items: center;
}
.baro-story-cards-feature__top--title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px;
}
.baro-story-cards-feature__top--people {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 150px;
    flex-wrap: wrap;
}
.baro-story-cards-feature__top--people img {
    width: 450px;
}
.baro-story-cards-feature__top--people h5{
    margin: 0% 5%;
    padding: 2px;
    font-size: 20px;
    line-height: 26px;
}

.baro-story-cards-feature__top--people--feature {
    width: 450px;
    margin: 0 30px;
}
.baro-story-cards-feature__left {
    width: 700px;
    margin-right: 300px;
}
.baro-story-cards-feature__right {
    width: 550px;
}
.baro-story-cards-feature .plus1 {
    width: 550px;
}
.baro-story-cards-feature .plus2 {
    width: 700px;
}
.baro-story-cards-feature__right img, .baro-story-cards-feature__left img {
    width: 100%;
    z-index: 2;  
}
.baro-story-cards-feature__left h2, .baro-story-cards-feature__right h2{
    margin-block-start: 45px;
}
.mark {
    font-weight: 600;
    color: tomato;
    display: inline;
}
.y {
    color: var(--yellow);
}


@media only screen and (max-width:1265px) and (min-width: 0px){ 
    .special {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .baro-story-cards-feature .plus2 {
        margin-bottom: 75px;
    }
}

@media only screen and (max-width:700px) and (min-width: 0px){ 
    .baro-story-cards-feature .plus1, .baro-story-cards-feature .plus2 {
        width: 100%;
    }
}


@media only screen and (max-width:949px) and (min-width: 550px){
    .baro-story-cards-feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .special2 {
        padding-bottom: 0px; 
    }
    .baro-story-cards-feature__left, .baro-story-cards-feature__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    .plus {
        margin-top: 50px;
    }
    .special {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width:550px) and (min-width: 0px){
    .baro-story-cards-feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        padding: 25px 0;
    }
    .baro-story-cards-feature__left, .baro-story-cards-feature__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    .plus {
        margin-top: 50px;
    }
    .special2 {
        padding-bottom: 0px;
    }
    .baro-story-cards-feature__right img, .baro-story-cards-feature__left img {
        width: 320px;
        height: 240px;
        z-index: 2;  
    } 
    .baro-story-cards-feature__top--people--feature, .baro-story-cards-feature__top--people h5 {
        margin: 0;
        text-align: center;
        width: 100%;
    } 
    .baro-story-header, .main-image {
        height: 600px;
    }
    .baro-story-cards-feature__top, .baro-story-cards-feature {
        margin: 10px 10px;
    }
}