@import "main.css";
@import "reset.css";
@import "variables.css";

/* component */
@import "component/features.css";
@import "component/faq.css";


.inner { width: 1750px; margin: auto; }
.inner:after {display: block;visibility: hidden;height: 0;font-size: 0;clear: both; content: '';}
.vcenterbox {width: 100%;position: absolute;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%); left: 0; right:0; margin: auto;}

body {
    background-color: #000000;
    color: white; 
    height: 100%;
}
h1 {
    font-size: 3.125rem;
    font-weight: 600;
    padding: 12px;
    line-height: 70px; 
    padding: 0;
 }
h2 {
/* font-size: 32px; */
    line-height: 45px; 
    font-size: 1.625rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
h3 {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
}
@media only screen and (max-width:1600px) and (min-width: 0px){
    .baro-story-cards-feature__left {
        margin-right: 0;
    }
    .baro-story-cards-feature .plus1{
        margin-bottom: 75px;
    }

}
 @media only screen and (max-width:949px) and (min-width: 550px){
    h1 {
        font-size: 32px;
        line-height: 50px; 
    }
    h2 {
        font-size: 23px;
    }
    h3 {
        font-size: 23px;
    }
    
    .baro-story-cards-feature__top--title h1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .baro-story-cards-feature__top--title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    } 
    .baro-story-cards-feature__left {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .baro-story-cards-feature__right {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 70%;
    }
    
    .baro-story-cards-feature__left h5 {
        font-size: 23px;
    }
    .baro-story-cards button {
        font-size: 23px;
    }
    .baro-story-cards-feature__top--people, .baro-story-cards-feature__top--people--feature, .baro-story-cards-feature__top--people--feature {
        margin: 0px;
    }
}
@media only screen and (max-width:550px) and (min-width: 375px){
    h1 {
        font-size: 26px; 
        line-height: 45px; 
    }
    h2 {
        font-size: 18px;
        
    }
    h3 {
        font-size: 18px;
    }
    
    .baro-story-cards-feature__top--title h1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 0; 
    }
    .baro-story-cards-feature__top--title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .baro-story-cards-feature__top--people {
        margin: 30px 0px;
    }
    .baro-story-cards-feature__top--people img {
        width: 100%;
    }
    .baro-story-cards-feature__left {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 1080%;
    }
    .baro-story-cards-feature__right {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    
    .baro-story-cards-feature__left h5 {
        font-size: 18px;
    }
    .baro-story-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .baro-story-cards h1:first-child {
        margin-top: 15px;
    }
    .baro-story-cards button {
        font-size: 18px;
    }
    .baro-story-cards__in button {
        font-size: 18px;
    }
    .baro-story-faq .faq-qustion {
        font-size: 18px;
    }
    .baro-story-footer div {
        margin-bottom: 10px;
        font-size: 18px;
    }
    .baro-story-cards-feature{
        width: 100;
        overflow: hidden;
    }
    .baro-story-cards-feature__top--people--feature .baro-story-cards-feature__top--people h5 {
        margin: 0; 
    }
    .baro-story-cards-feature__top--people--feature{ 
        width: 100%;
    }
}
@media only screen and (max-width:375px) and (min-width: 0px){
    h1 {
        font-size: 25px; 
        line-height: 40px; 
    }
    h2 {
        font-size: 14px;
        line-height: 25px;
    }
    h3 {
        font-size: 14px;
    }
    
    .baro-story-cards-feature__top--title h1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .baro-story-cards-feature__top--title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .baro-story-cards-feature__top--people {
        margin: 20px 0px;
    }
    .baro-story-cards-feature__top--people img {
        width: 100%;
    }
    .baro-story-cards-feature__top--people h5 {
        width: 100%;
        font-size: 14px;
    }
    .baro-story-cards-feature__left {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .baro-story-cards-feature__right {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .baro-story-cards-feature__left h5 {
        font-size: 14px;
    }
    .baro-story-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .baro-story-cards h1:first-child {
        margin-top: 10px;
    }
    .baro-story-cards button {
        font-size: 14px;
        padding: 12px 35px;
    }
    .baro-story-cards__in button {
        font-size: 14px;
        padding: 12px 35px;
    }
    .baro-story-faq .faq-qustion {
        font-size: 14px;
    }
    .baro-story-footer div {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .baro-story-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
} 