@import "main.css";
@import "reset.css";
@import "variables.css";

/* component */
@import "component/features.css";
@import "component/faq.css";


body {
    background-color: #000000;
    color: white; 
}
h1 {
    font-size: 52px;
    font-weight: 600;
    padding: 12px;
 }
 h2 {
    font-size: 32px;
    font-weight: 500;
    padding: 9px;
 }
 h3 {
    font-size: 23px;
    font-weight: 500;
    padding: 10px;
 }
 @media only screen and (max-width:949px) and (min-width: 550px){
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 23px;
    }
    h3 {
        font-size: 23px;
    }
    .baro-story-cards-feature__left h5 {
        font-size: 23px;
    }
    .baro-story-cards button {
        font-size: 23px;
    }
    .baro-story-faq button {
        font-size: 23px;
    }
}
@media only screen and (max-width:550px) and (min-width: 375px){
    h1 {
        font-size: 23px; 
    }
    h2 {
        font-size: 15px;
    }
    h3 {
        font-size: 15px;
    }
    .baro-story-cards-feature__left h5 {
        font-size: 15px;
    }
    .baro-story-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .baro-story-cards h1:first-child {
        margin-top: 15px;
    }
    .baro-story-cards button {
        font-size: 15px;
    }
    .baro-story-faq button {
        font-size: 15px;
    }
    .baro-story-footer div {
        margin-bottom: 10px;
        font-size: 12px;
    }
}
@media only screen and (max-width:375px) and (min-width: 0px){
    h1 {
        font-size: 20px; 
    }
    h2 {
        font-size: 12px;
    }
    h3 {
        font-size: 12px;
    }
    .baro-story-cards-feature__left h5 {
        font-size: 12px;
    }
    .baro-story-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .baro-story-cards h1:first-child {
        margin-top: 10px;
    }
    .baro-story-cards button {
        font-size: 12px;
    }
    .baro-story-faq button {
        font-size: 12px;
    }
    .baro-story-footer div {
        margin-bottom: 10px;
        font-size: 12px;
    }
    .baro-story-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
}